%form(action="/repositories" method="post" name="edit-repository")
  .field
    %label
      Name
    %input(type='text' name='repository[name]')
  .field
    %label
      URI
    %input(type='text' name='repository[uri]')
  .field
    %label
      Feed URL (rss, atom)
    %input(type='text' name='repository[feed_url]')
  .field
    %label
      Gitci Ssh Key
    %pre{:style => "width: 800px; height: 40px; overflow: scroll"}
      &=File.read("#{Dir.home}/.ssh/id_rsa.pub")

  .field
    %label
      Script
    %textarea(name='script')

  .field.buttons
    %input(type='submit' value='Add')
