
.task
  -color = task.failed ? '#FF7E7E' : '#bbb'
  %pre{:style => "background: #{color}"}
    -if !task.stdout.blank?
      =task.stdout

  %pre{:style => "background: #{color}"}
    -if task.failed && !task.stderr.blank?
      =task.stderr
