
.task
  -color = task.failed ? '#FF7E7E' : '#bbb'
  %pre{:style => "background: #{color}"}
    -if !task.stdout.blank?
      =task.stdout

  %pre{:style => "background: #{color}"}
    -if task.failed && !task.stderr.blank?
      =task.stderr

  -if !task.runtime_error.blank?
    %details
      %summary
        Runtime error:
        = task.runtime_error
      %pre
        = task.runtime_backtrace
