%b
  Command:
&=task.command
%br

%b
  Commit:
&=task.commit_id

%b
  Status:
=task.failed ? "FAILED" : "OK"

== Finished on #{(task.finished_at||task.updated_at)}

%br

-color = task.failed ? '#FF7E7E' : '#bbb'
%pre{:style => "background: #{color}"}
  =task.stdout
%br
