%h1
  Repositories

%ul
  -@repositories.each do |repo|
    %li
      %a(href="/repositories/#{repo.id}")
        =repo.name
      -last_task = repo.build_tasks.order(:updated_at.desc).first
      -if last_task
        =haml :"repositories/_task.html", :locals => {:task => last_task}, layout: false
