%ul(class="breadcrumb")
  %li
    %a(href="/")
      Home
    %span(class="divider")
      \/
  %li(class="active")
    %a(href="/repositories/new")
      New

%h1
  New respository

%form(action="/repositories" method="post" name="edit-repository" class="well")

  = haml :"repositories/_form.html", layout: false

  .form-actions
    %input(type='submit' value='Add' class="btn btn-primary")
