!!! 5
%html
  %head
    %title
      =@title||"Gitci"
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(src="/javascripts/application.js")
  %body
    = yield
